@font-face {
  font-family: 'alienEncounter';
  src: url('/fonts/Alien-Encounters-Italic.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  color: red;
}

h1 {
   font-family: 'alienEncounter';
   font-size: 2rem;
   margin-bottom: 0px; 
}

.container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid 1px;  */
  /* border-color: blue; */
  height: 98vh;


}

#arena {
  /* border: solid .1rem;  */
  /* border-color: blue; */
}